<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Appointment</title>
    <!-- <link href="add.css" rel="stylesheet"> -->
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        form {
            max-width: 400px;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
        }
        h1 {
            text-align: center;
        }
        label {
            font-weight: bold;
        }
        input[type="text"] {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        input[type="submit"] {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 4px;
            background-color: #4CAF50;
            color: white;
            font-weight: bold;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <form action="/edit/<%= appointment.apptid %>" method="POST">
        <h1>Edit Appointment</h1>
        
        <label for="pxid">Patient ID:</label>
        <input type="text" id="pxid" name="pxid" value="<%= appointment.pxid %>" required><br>
    
        <label for="clinicid">Clinic ID:</label>
        <input type="text" id="clinicid" name="clinicid" value="<%= appointment.clinicid %>" required><br>
    
        <label for="doctorid">Doctor ID:</label>
        <input type="text" id="doctorid" name="doctorid" value="<%= appointment.doctorid %>" required><br>
    
        <label for="apptid">Appointment ID:</label>
        <input type="text" id="apptid" name="apptid" value="<%= appointment.apptid %>" required><br>
    
        <label for="status">Status:</label>
        <input type="text" id="status" name="status" value="<%= appointment.status %>" required><br>
    
        <label for="type">Type:</label>
        <input type="text" id="type" name="type" value="<%= appointment.type %>" required><br>
    
        <label for="Virtual">Virtual:</label>
        <input type="text" id="isVirtual" name="isVirtual" value="<%= appointment.isVirtual %>" required><br>
    
        <input type="submit" value="Save">
    </form>    
</body>
</html>
