<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link href="index.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Medical Appointments</h1>
        <a class="add_button" href="">Add Appointment</a>
        <table class="table">
            <thead>
                <tr>
                    <th>Patient ID</th>
                    <th>Clinic ID</th>
                    <th>Doctor ID</th>
                    <th>Appointment ID</th>
                    <th>status</th>
                    <th>type</th>
                    <th>virtual</th>
                    <th>Action</th>
                </tr>
            </thead>
            
            <tbody>
                <% appointments.forEach(function(appointments){ %>
                    <tr>
                        <td><%= appointments.pxid %></td>
                        <td><%= appointments.clinicid %></td>
                        <td><%= appointments.doctorid %></td>
                        <td><%= appointments.apptid %></td>
                        <td><%= appointments.status %></td>
                        <td><%= appointments.type %></td>
                        <td><%= appointments.Virtual %></td>
                        <td>
                            <a class="edit_button" href="edit/<%= appointments.apptid %>">Edit</a>
                            <a class="delete_button" href="delete/<%= appointments.apptid %>">Delete</a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    
</body>
</html>
